<h2>New professor</h2>

<%= render "form.html", changeset: @changeset,
                        action: professor_path(@conn, :create), departments: @departments %>

<%= link "Back", to: professor_path(@conn, :index) %>
