<h2>Show student</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @student.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @student.address %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @student.email_id %>
  </li>

  <li>
    <strong>Mobile:</strong>
    <%= @student.mobile %>
  </li>

</ul>

<%= link "Edit", to: student_path(@conn, :edit, @student) %>
<%= link "Back", to: student_path(@conn, :index) %>
