<h2>Show course</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @course.name %>
  </li>

  <li>
    <strong>Department:</strong>
    <%= get_department_name(@course.department_id) %>
  </li>

  <li>
    <strong>Professor:</strong>
    <%= get_professor_name(@course.professor_id) %>
  </li>

</ul>

<%= link "Edit", to: course_path(@conn, :edit, @course) %>
<%= link "Back", to: course_path(@conn, :index) %>
